.cart-menu {
    position: absolute;
    top: 30px;
    background-color: rgb(36, 37, 41);
    left: -300px;
    width: 300px;
    padding: 10px 20px;
    z-index: 2;
    border-radius: 15px;

    .film-list {

        .title {
            display: flex;
            flex-direction: column;
            gap: 6px;

            .title-list {
                display: flex;
                justify-content: space-between;
                list-style-type: none;

            }
        }
    }

    .total-price {
        margin-top: 20px;
        padding: 20px 0;
        border-top: 1px solid rgba(255, 255, 255, 0.4);

        .cart-price-sum {
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;

            .films-price {
                width: 300px;
                display: flex;
                justify-content: space-between;



                .price-total {
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    font-weight: 400;
                }
            }
        }

        .btn {
            background-color: #ff347f;
            padding: 5px 12px;
            border-radius: 8px;
            border: none;
            cursor: pointer;
        }
    }
}

// @media only screen and (max-width:768px) {
//     .cart-menu {
//         left: -268px;
//     }
// }

@media only screen and (max-width:420px) {
    .cart-menu {
        left: -268px;
    }
}