.film-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .film-page-container {
        width: 84%;

        .film-page-title {
            color: white;
        }

        .film-page-content {
            display: flex;

            .film-page-left {
                width: 70%;
            }

            .film-page-right {
                width: 30%;

                .image-description {
                    flex-direction: column;
                    display: flex;

                    .film-page-description {
                        color: rgb(242, 234, 234);
                    }

                }

                .secondary-text {
                    color: gray;
                }

                .film-page-genre {
                    display: flex;
                    gap: 3px;

                    .item-genre {
                        .film-genre {
                            background-color: rgb(186, 180, 180);
                        }
                    }
                }

                .film-page-film-buy {
                    display: flex;
                    justify-content: flex-end;
                    gap: 10px;
                    margin-top: 20px;

                    .item-price {
                        color: white;
                    }

                    .addToCart {
                        padding: 4px 18px;
                        border-style: none;
                        border-radius: 6px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:768px) {
    .film-page {
        .film-page-container {
            .film-page-content {
                display: flex;
                flex-direction: column;

                .film-page-right {
                    width: 500px;

                    .image-description {
                        .film-cover {
                            display: none;
                        }
                    }

                    .film-page-description {
                        width: 476px;
                    }
                }

                .film-page-left {
                    iframe {
                        width: 500px;
                    }
                }

            }
        }
    }
}

@media only screen and (max-width:420px) {
    .film-page {
        .film-page-container {
            .film-page-content {
                .film-page-right {
                    width: 400px;

                    .image-description {
                        .film-page-description {
                            width: 390px;
                        }
                    }
                }

                .film-page-left {

                    iframe {
                        width: 380px;
                    }
                }
            }
        }
    }
}