.basket {
    display: flex;
    gap: 10px;

    .icon {
        font-size: 19px
    }

    .price-total {
        font-weight: 600;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}