.header {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    .header-counter {
        width: 84%;
        display: flex;
        justify-content: space-between;

        .wrapper {
            .header-title {
                text-decoration: none;
                color: white;
                font-size: 20px;

            }
        }

        .basket-btn {
            color: white;
        }
    }
}